<footer class=" default_color_bg text-white">
    <div class="container">
        <div class="row">
            <h2 class="center header text_h2 text-white" style="margin-bottom: 0%;">Contact Me</h2>
            <div class="col text-start">
                <h4>Contact Information</h4>
                <ul class="noBull">
                    <li><a class="text-white text-decoration-none hover" href="mailto:sefernan@uci.edu">SEFERNAN@UCI.EDU</a></li>
                    <li><a class="text-white text-decoration-none hover" href="tel:3234988088">+1-323-498-8088</a></li>
                </ul>
            </div>
            <div class="col text-end">
                <h4>Social</h4>
                <ul class="noBull">
                    <li><a class="text-white text-decoration-none hover" target="_blank" href="https://github.com/Sefu9090">Github</a></li>
                    <li><a class="text-white text-decoration-none hover" target="_blank" href="https://www.linkedin.com/in/saul-fernandez-65b5b9176/">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
            © 2023 Saul E Fernandez
    </div>
</footer>