

<ngb-toast
	header=""
	[delay]="9000"
	[autohide]="autohide"
	(mouseenter)="autohide = false"
	(mouseleave)="autohide = true"
	(hide)="show = false; autohide = true"
>
	<div>HEY THERE, Thank you for visting. Any support is greatly appreciated.</div>
	<!-- <div *ngIf="!autohide">I will remain visible until you leave again.</div> -->
    <div class="mt-2 pt-2 border-top">
        <a href="https://www.buymeacoffee.com/sefu" target="_blank" type="button" class="btn btn-primary btn-sm">Buy Me a Coffee</a>
      </div>
</ngb-toast>