
<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5">
    <div class="col" *ngFor="let card of cards_js; let i=index">
        <div class="card h-100">
            <img [src]="card['img']" class="card-img-top thumbnail" data-toggle="lightbox" data-gallery="project-gallery" [alt]="card['imgAlt']" (click)="open(i)">
            <div class="card-body">
                <h5 class="card-title text_h5">{{card['name']}}</h5>
                <p class="card-text text_h6">{{card['discription']}}</p>
            </div>
            <a *ngIf="card['link']" [routerLink]="card['link']" class="btn btn-primary link-btn">About {{card['name']}}</a>
            <div class="card-footer">
                <small class="text-muted">Last updated {{card['updated']}}</small>
            </div>
            
            
        </div>
    </div>
    
</div>
<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" data-masonry='{"percentPosition": true }'> -->
<!-- <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5" data-masonry='{"percentPosition": true }'>
    <div class="col" *ngFor="let card of cards_js; let i=index">
        <div class="card h-100">
            <img [src]="card['img']" class="card-img-top thumbnail" data-toggle="lightbox"
                data-gallery="project-gallery" [alt]="card['imgAlt']" (click)="open(i)">
            <div class="card-body">
                <h5 class="card-title fs-5 fw-light">{{card['name']}}</h5>
                <p class="card-text fs-6 fw-light">{{card['discription']}}</p>
            </div>
            <a *ngIf="card['link']" [href]="card['link']" class="btn btn-primary link-btn">About {{card['name']}}</a>
            <div class="card-footer">
                <small class="text-muted">Last updated {{card['updated']}}</small>
            </div>


        </div>
    </div>
</div>
 -->
